<h1>Step2 : Select your config and options</h1>

<div>
  <select id="configSelect" [(ngModel)]="selectedConfig" (change)="setConfig(selectedConfig)">
    <option [ngValue]="undefined" selected>Choose Config</option>
    <option *ngFor="let config of configs" [ngValue]="config">{{ config.description }}</option>
  </select>
  <div *ngIf="selectedConfig">
    <p>Range: {{ selectedConfig.range }} - Max Speed: {{ selectedConfig.speed }} - Cost: {{ selectedConfig.price | currency }}</p>
  </div>
  <div *ngIf="includeYoke">
    <input type="checkbox" id="includeYoke" [(ngModel)]="selectedOptions.includeYoke" (change)="setIncludeYoke(selectedOptions.includeYoke)">
    <label for="includeYoke">Include Yoke Steering Wheel</label>
  </div>
  <div *ngIf="includeTow">
    <input type="checkbox" id="includeTow" [(ngModel)]="selectedOptions.includeTow" (change)="setIncludeTow(selectedOptions.includeTow)">
    <label for="includeTow">Include Tow Hitch Package</label>
  </div>
</div>




