<h1>Step3 : Summary</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12"><b>Your Tesla  {{teslaService.selectedModel.description }}</b></div>
  </div>
  <div class="row" *ngIf="teslaService.selectedConfig">
    <div class="col-sm-5">{{teslaService.selectedConfig.description }}
      <p>Range: {{ teslaService.selectedConfig.range }} - Max Speed: {{ teslaService.selectedConfig.speed }}</p></div>
    <div class="col-sm-7">{{teslaService.selectedConfig.price | currency }}</div>
  </div>
  <div class="row">
    <div class="col-sm-5">{{teslaService.selectedColor.description }}</div>
    <div class="col-sm-7">{{teslaService.selectedColor.price | currency }}</div>
  </div>
  <div class="row" *ngIf="teslaService.includeTow">
    <div class="col-sm-5">Tow Hitch Package</div>
    <div class="col-sm-7">{{1000 | currency }}</div>
  </div>
  <div class="row" *ngIf="teslaService.includeYoke">
    <div class="col-sm-5">Yoke Steering Wheel</div>
    <div class="col-sm-7">{{1000 | currency }}</div>
  </div>

  <div class="row">
    <hr class="col-sm-12">
  </div>
  <div class="row" *ngIf="teslaService.selectedConfig">
    <div class="col-sm-5">Total Cost</div>
    <div class="col-sm-7">{{((teslaService.selectedColor.price) + ((teslaService.includeTow === true)?1000:0) + ((teslaService.includeYoke === true)?1000:0) + (teslaService.selectedConfig.price)) | currency }}</div>
  </div>
  <div class="row">
    <hr class="col-sm-12">
  </div>
</div>
